

@Html.Partial("~/Views/Shared/FrontPartials/_Carousel.cshtml")

<!--End of Carousel-->
<!--search_form -->
@Html.Partial("~/Views/Shared/FrontPartials/_SearchForm.cshtml")

<!-- End of search_form -->
<!--Banner display-->
@Html.Partial("~/Views/Shared/FrontPartials/_Banner.cshtml")

<div class="team_work_agile">
    <h4>Whether we play a large or small role, by working together we achieve our objectives.</h4>
</div>
<!-- services -->
<div class="services" id="services">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">SwiftPM Key Features</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-3 services-left">
                <div class="services-left-top">

                    <h5>Project Monitoring</h5>

                </div>
                <div class="services-left-top services-left-top1">

                    <h5>Staff Registration</h5>

                </div>
            </div>
            <div class="col-md-6 services-middle">
                <div class="services-middle-img">
                    <img src="~/Theme/images/process.jpg" alt="" />
                </div>
                <div class="services-middle-grids">
                    <div class="col-md-6 services-middle-left">
                        <div class="services-left-top">

                            <h5>Task Followup</h5>

                        </div>
                    </div>
                    <div class="col-md-6 services-middle-left">
                        <div class="services-left-top">

                            <h5>Appropriate Task Approval</h5>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 services-left">
                <div class="services-left-top">

                    <h5>Task Time Management</h5>

                </div>
                <div class="services-left-top services-left-top1">

                    <h5>Appropraite Task Documentation Repository</h5>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- /mid-services -->
<div class="mid_services">



    <div class="clearfix"> </div>
</div>

