

<!--Search Form Partial on the home page-->


<div id="search_form" class="search_top">
    <h2>Search Task Status</h2>
    <form action="#" method="post">
        <input type="text" name="Enter Keyword(s)" placeholder="Enter Keyword(s)" required="">
        <input class="email" name="Department" type="text" placeholder="Location" required="">
        <select id="country12" onchange="change_country(this.value)" class="frm-field required">
            <option value="null"> Select Task Module</option>
            <option value="city">task1</option>
            <option value="city">task2</option>
            <option value="city">task3</option>
            <option value="city">task4</option>

        </select>
        <input type="submit" value="Search Task ">
        <div class="clearfix"></div>
    </form>
</div>